In [1]:
#if number is greater than 10 itherwise check number is gretaer than 20  else simply print the number

In [3]:
a=10
if(a>20):
    print("greter than 20 ")
elif(a>10):
    print("greter than 10 ")
else:
    print(a)

10

In [4]:
#if we have age =10 >child 20> adult 40>citizen else scineor citizen

In [7]:
age=15
if(age>60):
     print("Sinieor Citizen")
elif(age>=45):
      print("Citizen")
elif(age>=20):
   print("Adult")
else:
     print("child")

child

In [8]:
#take 3 age of person find out the oldest one

In [12]:
a=input("enter the age a")
print(a)
b=input("enter the age b")
print(b)
c=input("enter the age c")
print(c)
if(a>b and a>c):
    print("person a is oldest")
elif(b>a and b>c):
    print("b person is oldest")
else:
    print("c is oldest")

enter the age a 44

44

enter the age b 23

23

enter the age c 11

11
person a is oldest

In [13]:
# 3 angles r given =>check triangle

In [20]:
a=78
b=34
c=89
sum=a+b+c
print(sum)
if(sum>=180):
    print("traingle")
else:
    print("not trangle")

201
traingle

In [21]:
#u hve given year as string we need to check wherther year is leap year
#y%4==0 or y%400==0 y%100=!0

In [43]:
num = '2100'
print(type(num))
year= int(num)
print(type(year))

if(year%4==0 and year%100!=0):
 print("leap year")
elif(year%100!=0 or year%400==0 ):
     print(" leap year") 
else:
  print("not leap year")

<class 'str'>
<class 'int'>
not leap year

In [ ]:
#4 100! or 400

In [45]:
#calculate total amount nikal na hai for special condition
#first starting values of 50 units 1 rupees per unit calculate karenge
#next 100 unit 2 rupees per unit 
#next 200 unit 10 rupess se
#and else
#by 15

In [52]:
unit=int(input("Enter the unit"))
print(unit)
if (unit<=50):
    amount=unit+1
elif(unit<=150):
    amount=50+(unit-50)*2
elif(unit<250):
    amount=50+200+(unit-150)*2
else:
    amount=50+200+1000+(unit-250)*2
print(amount)

Enter the unit 400

400
1550

In [55]:
#we have been given 3 side of triangle a b c check whether that triangle is scallen or isosclies or equliteral
#

In [61]:
a=input("Enter the a value")
b=input("Enter the b value")
c=input("Enter the c value")
if (a!=b and a!=c)or(b!=a and b!=c):
    print("scalene triangle")
elif (a!=b and a==c)or(b!=c and b==a):
    print(" isosceles triangle")  
elif (a==b and a==c)or(b==c and b==a):
    print("equilateral triangle")  
else:
    print("not triangle")

Enter the a value 1
Enter the b value 2
Enter the c value 3

scalene triangle

In [ ]:
u have been given an amount and u need to calculate  minimal notes required  to  get total amount 
#user want 506 => minimum notes 500 ,5,1.
1115
# python 2 python 3 difference
#difeeret datatypes in python 
#what is the diference between statement and functions